
DATABASE_URL= Enter your url here

# JWT Security
SECRET_KEY= enter your secret key here
SUPERADMIN_SECRET= enter your superadmin secret here
# APIs
GEMINI_API_KEY= enter your gemini api key here
PINECONE_API_KEY= enter your pinecone api key here
PINECONE_ENVIRONMENT=us-east-1

# Supabase Storage (get these from your Supabase project → Settings → API)
SUPABASE_URL=your_supabase_project_url_here
SUPABASE_SERVICE_KEY=your_supabase_service_role_key_here



MAIL_USERNAME= enter your email username here
MAIL_PASSWORD= enter your email password here
MAIL_FROM= enter your email from here
MAIL_FROM_NAME= enter your email from name here
MAIL_SERVER= enter your email server here
MAIL_PORT= enter your email port here